<%= render partial: "users/navbar",locals: {user: ""}%>

<div class="input">
	<%= form_for (@post) do |f|%>
	<div class="title-form">
		<p class="title-form-text">本のタイトルを入力してください</p>	
		<%= f.text_field :title, placeholder: "入力してください", class: "form-title"%>
	</div>
	<div class="author-form">
		<p class="author-form-text">本の著者を入力してください</p>
		<%= f.text_field :author, placeholder: "入力してください", class: "form-author"%>
	</div>
	<div class="quote-form">
		<p class="quote-form-text">好きな一節を入力してください</p>
		<%= f.text_field :quote, placeholder: "入力してください", class: "form-quote"%>
	</div>
	<div class="comment-form">
		<p class="comment-form-text">感じたことなど自由記入欄</p>
		<%= f.text_field :comment, placeholder: "入力してください", class: "form-comment"%>
	</div>	
	<%= button_tag type: "submit", class: "btn btn--block" do %>
              投稿する<i class="icon-arrow-right"></i>
    <% end %>
	<% end %>
	
</div>
