<div class="test">
	<% @items.each do |item| %>
		<%=item['itemName']%>
		<%=item['itemPrice']%>
		<%=item['itemUrl']%>
		<%=item['smallImageUrl']%>
    <img src="<%=item['mediumImageUrls']%>"> 
	<% end %>
    
</div>

