<%= render partial: "navbar"%>
<div class="contents row" >
    <% @posts.each do |post| %>
    <a class = "modal-open" data-title="<%=post.title%>" data-author="<%=post.author%>" data-quote="<%=post.quote%>" data-comment="<%=post.comment%>"><%=post.quote%></a>
    <%=post.title%>
    <% end %>
    <div id = "modal-main">
    	<div class="rakuten-image">
    		
    	</div>
    	<div class="title-area">
    		
    	</div>
    	<div class="author-area">
    		
    	</div>
    	<div class="quote-area">
    		
    	</div>
    	<div class="comment-area">
    		
    	</div>
    </div>
  </div>
